# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE / Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and compiled files
*.log

# Backup or temp files
*.bak
*.swp